/* Base typography and layout */
body {
    background-color: #e5f3fb /*calming pale blue*/
    font-family: 'Merriweather'; /* Readable serif font*/
    font-size: 16px; 
    color: #333;  /*Dark gray for good contrast*/
    width: 100%;
    max-width: 700px; /*Comfortable reading width*/
    margin: 0 auto;  /* Center the content*/
    padding: 40px; /* Ample padding for breathing room */
    line-height: 1.6; /* enhanced readibility */
    box-sizing: border-box;  /*consistent element sizing */
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif; /* Bolder, complementary font*/
    color: #222; /* Slightly darker shade */
    text-transform: uppercase; /* more modern look */
}

/* Paragraphs */
p {
    margin-bottom: 20px; /* Space between paragraphs */
}

/* Bullet points */
ul {
    list-style-type: none; /* Remove default bullets */
}
li {
    margin-bottom: 5px; /* Space between list items */
}
li::before {
    content: '\2713'; /* Discreet checkmark */
    margin-right: 10px;
    color: #999; /* Lighter shade for less emphasis */
}

/* Links */
a {
    color: #007bff; 
    text-decoration: none;
}
a:hover {
    text-decoration: underline; /* Underline on hover only*/
}


/* Navigation bar base styles */
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }

  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
  }
  
  /* Navigation links */
  .nav-links {
    width: 100%;
    top: 5 rem;
    left: 48px;
    background-color: #ff9776
    display: none;
    margin: 0
  }

  .nav-links a {
    color: #333; /* Dark gray for readability */
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    transition: color 0.2s ease-in-out, text-decoration 0.2s ease-in-out; 
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    background-color: #007bff; /* Blue for emphasis on hover */
  }

  .expanded {
    display: unset;
  }
  
  /* Responsive adjustments for smaller screens */
  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  }

  .hamburger {
    display: none;
  }