---
---
<header class='navbar'>
    <nav>
    <ul class='navbar-links'>
        <li><a class='navbar-links' href="/">Home</a></li>
        <li><a class='navbar-links' href="/about/">About</a></li>
        <li><a class='navbar-links' href="/blog/">Blog</a></li>
    </ul>
    </nav>
</header>