---
---
    <!-- <ul class='navbar-links'>
        <li><a class='navbar-links' href="/">Home</a></li>
        <li><a class='navbar-links' href="/about/">About</a></li>
        <li><a class='navbar-links' href="/blog/">Blog</a></li>
    </ul> -->

    <div class="nav-links">
        <a class='nav-links' href="/">Home</a>
        <a class='nav-links' href="/about/">About</a>
        <a class='nav-links' href="/blog/">Blog</a>
    </div>